extends defaults/layout.pug
include defaults/mixins.pug
block content
    .container
        .card__preview
            .front
                .card__preview--chip
                .card__preview--card-type
                .card__preview--number XXXX XXXX XXXX XXXX
                .card__preview--holder JAN KOWALSKI
                .card__preview--expires MM/YY
            .back
                .back__line.back__line--black
                .back__line.back__line--white
                    span.back__line--cvv CVV:
                .card__preview--card-type
        form.card__form
            input#card__form--number.card__form--input(type="text" placeholder="Card number")
            input#card__form--name.card__form--input(type="text" placeholder="Card name")
            .date__container
                select#card__form--select
                    option 01
                    option 02
                    option 03
                    option 04
                    option 05
                    option 06
                    option 07
                    option 08
                    option 09
                    option 10
                    option 11
                    option 12
                select#card__form--select
                    option 2025
                    option 2026
                    option 2027
                    option 2028
                    option 2029
                    option 2030
                input#card__form--input.card__form--input-cvv(type="text" placeholder="CVV")
            button.card__form--submit-btn Submit
